@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-background: rgb(250 248 241);
  --color-foreground: rgb(61 56 38);
  --color-card: rgb(250 248 241);
  --color-card-foreground: rgb(20 20 20);
  --color-popover: rgb(255 255 255);
  --color-popover-foreground: rgb(41 39 27);
  --color-primary: rgb(203 100 65);
  --color-primary-foreground: rgb(255 255 255);
  --color-secondary: rgb(231 228 221);
  --color-secondary-foreground: rgb(82 80 68);
  --color-muted: rgb(243 240 231);
  --color-muted-foreground: rgb(133 131 125);
  --color-accent: rgb(231 228 221);
  --color-accent-foreground: rgb(41 39 27);
  --color-destructive: rgb(20 20 20);
  --color-border: rgb(225 225 218);
  --color-input: rgb(180 177 163);
}

@utility resume-layout {
  padding-top: 18mm !important;
  padding-bottom: 18mm !important;
  padding-left: 20mm !important;
  padding-right: 20mm !important;
}

@utility cover-letter-layout {
  padding-top: 20mm !important;
  padding-bottom: 20mm !important;
  padding-left: 25mm !important;
  padding-right: 25mm !important;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
